[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/mahamanai/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/mahamanai/mahamanai.github.io.git
	branch = master
